<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--<link rel="icon" type="image/svg+xml" href="favicon.svg" />-->
    <link rel="stylesheet" href="../assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edward Shturman</title>
  </head>
  <body>
    <canvas id="bg"></canvas>

    <main>

      <header>
        <h1>Edward Shturman</h1>
        <p>💻  Computer Science Major @ University of San Francisco // Design Thinker</p>
      </header>

      <blockquote>
        <p>
          "I don't care what is — what should be?"<br><br>
          - Julia Haart
        </p>
      </blockquote>

      <section>
        <h2>📚  EDUCATION</h2>
        <p>
          As a graduating high school student from the <a href="https://www.wired.com/story/design-tech-high-school/">Ultimate Incubator</a>, a High School Fellow at Stanford University, and a Computer Science Major at USF, I enjoy employing design thinking when solving problems. This philosophy has helped in many of my projects in education, including fundraising $35K to build a school in Nepal, researching social robotics in AI with the Stanford Artificial Intelligence, Robotics, and Education (AIRE) Lab, and more.
        </p>
        <p>
          As I grow in my college career, I'm excited to learn more about problems I come across for me, my friends, my school, and my community, and what I want to do to solve them.
        </p>
      </section>

      <section class="right">
        <h2>🌟  PROJECTS</h2>

        <p>
          Most of my work isn't open-source, but current projects I'm working on include a game-changing security feature for Discord, and an educational/corporate accountability tool, allowing admins to better communicate with their students + staff on policy changes. Taking feedback empowers these groups in their self-advocacy, an important skill in the 21st century.
        </p>

<!--
        <h2>Section header</h2>

        <p>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
-->
      </section>

      <blockquote>
        <p>quote here</p>
      </blockquote>

      <section class="right">
        <h2>Section header</h2>

        <h3>Subheader</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada, elit ut vulputate imperdiet, turpis purus malesuada erat, vitae convallis sem eros eget turpis. Duis tincidunt commodo laoreet. Aliquam ullamcorper urna sapien, a vehicula erat rhoncus id. Donec accumsan eleifend risus. Nunc velit nunc, egestas quis ullamcorper a, tincidunt ac tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer ullamcorper fringilla metus, nec rutrum metus pellentesque ut. Praesent augue ipsum, luctus sed diam sit amet, porta cursus lacus. Vestibulum at quam a dolor porta bibendum eget sed nibh. Integer a ante at felis ultrices cursus. Vivamus ultrices tincidunt commodo. Fusce pretium, lectus non vulputate tincidunt, mi leo auctor magna, et lobortis nibh ligula accumsan neque. Curabitur imperdiet, mi vel iaculis ornare, augue sem molestie metus, et venenatis turpis libero a lectus.

          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vitae dictum metus. Curabitur libero turpis, pellentesque et urna lacinia, sollicitudin tempor augue. Duis eget maximus est, nec porta ex. Nullam varius elit vitae neque sodales, at pharetra justo consectetur. Vestibulum arcu enim, hendrerit sed lorem eget, venenatis aliquam mauris. Proin blandit posuere vehicula. Donec vitae congue est. Nunc mattis quis augue et consequat. Aliquam at neque mi.

          Sed imperdiet eu odio non mollis. Integer aliquet ligula non erat ornare hendrerit. Phasellus interdum neque non mauris semper porttitor. Donec id eros nulla. Maecenas vel ipsum venenatis, egestas mi eget, laoreet dui. Proin vel molestie dolor. Phasellus lobortis libero sit amet placerat varius. Aliquam hendrerit ante a facilisis varius. Morbi congue ut ex at auctor. Fusce vehicula vitae quam et viverra. Nullam eu ex facilisis, accumsan est aliquet, molestie libero. Duis laoreet, sapien ut auctor aliquam, arcu lorem imperdiet eros, non accumsan enim lacus et tortor.

          Duis elementum fermentum magna, vel auctor enim tempor in. Praesent facilisis lorem odio, eget fringilla est scelerisque ac. Aenean eu nisl in eros efficitur tempor et nec ipsum. Vivamus efficitur arcu vel enim posuere fermentum. Integer sit amet risus dui. Aliquam erat volutpat. Cras ac magna iaculis, porta tellus et, venenatis sapien. Nulla molestie libero sed ex convallis, eu tristique nunc convallis. Praesent eu feugiat ex. Morbi iaculis, ex at ornare commodo, dolor diam accumsan arcu, vitae commodo arcu elit fermentum neque.

          Donec nec porta nunc, quis dictum dui. Maecenas mollis dui eu rutrum pellentesque. Cras nec luctus tellus. Morbi congue metus nibh, id dapibus risus bibendum eu. Vestibulum consequat pulvinar ligula eget tempus. Morbi a mi in quam volutpat congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla justo massa, euismod et mauris ac, suscipit condimentum enim. Mauris ipsum nunc, elementum sit amet est mattis, iaculis viverra ligula. Praesent ut varius augue. Nunc eleifend purus quis nibh porttitor accumsan.
        </p>
<!--
        <h3>Subheader</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada, elit ut vulputate imperdiet, turpis purus malesuada erat, vitae convallis sem eros eget turpis. Duis tincidunt commodo laoreet. Aliquam ullamcorper urna sapien, a vehicula erat rhoncus id. Donec accumsan eleifend risus. Nunc velit nunc, egestas quis ullamcorper a, tincidunt ac tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer ullamcorper fringilla metus, nec rutrum metus pellentesque ut. Praesent augue ipsum, luctus sed diam sit amet, porta cursus lacus. Vestibulum at quam a dolor porta bibendum eget sed nibh. Integer a ante at felis ultrices cursus. Vivamus ultrices tincidunt commodo. Fusce pretium, lectus non vulputate tincidunt, mi leo auctor magna, et lobortis nibh ligula accumsan neque. Curabitur imperdiet, mi vel iaculis ornare, augue sem molestie metus, et venenatis turpis libero a lectus.

          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vitae dictum metus. Curabitur libero turpis, pellentesque et urna lacinia, sollicitudin tempor augue. Duis eget maximus est, nec porta ex. Nullam varius elit vitae neque sodales, at pharetra justo consectetur. Vestibulum arcu enim, hendrerit sed lorem eget, venenatis aliquam mauris. Proin blandit posuere vehicula. Donec vitae congue est. Nunc mattis quis augue et consequat. Aliquam at neque mi.

          Sed imperdiet eu odio non mollis. Integer aliquet ligula non erat ornare hendrerit. Phasellus interdum neque non mauris semper porttitor. Donec id eros nulla. Maecenas vel ipsum venenatis, egestas mi eget, laoreet dui. Proin vel molestie dolor. Phasellus lobortis libero sit amet placerat varius. Aliquam hendrerit ante a facilisis varius. Morbi congue ut ex at auctor. Fusce vehicula vitae quam et viverra. Nullam eu ex facilisis, accumsan est aliquet, molestie libero. Duis laoreet, sapien ut auctor aliquam, arcu lorem imperdiet eros, non accumsan enim lacus et tortor.

          Duis elementum fermentum magna, vel auctor enim tempor in. Praesent facilisis lorem odio, eget fringilla est scelerisque ac. Aenean eu nisl in eros efficitur tempor et nec ipsum. Vivamus efficitur arcu vel enim posuere fermentum. Integer sit amet risus dui. Aliquam erat volutpat. Cras ac magna iaculis, porta tellus et, venenatis sapien. Nulla molestie libero sed ex convallis, eu tristique nunc convallis. Praesent eu feugiat ex. Morbi iaculis, ex at ornare commodo, dolor diam accumsan arcu, vitae commodo arcu elit fermentum neque.

          Donec nec porta nunc, quis dictum dui. Maecenas mollis dui eu rutrum pellentesque. Cras nec luctus tellus. Morbi congue metus nibh, id dapibus risus bibendum eu. Vestibulum consequat pulvinar ligula eget tempus. Morbi a mi in quam volutpat congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla justo massa, euismod et mauris ac, suscipit condimentum enim. Mauris ipsum nunc, elementum sit amet est mattis, iaculis viverra ligula. Praesent ut varius augue. Nunc eleifend purus quis nibh porttitor accumsan.
        </p>
-->
        <h3>See more and say hello:</h3>
        <p>
          💼  <a href="https://about.edwardshturman.com">Portfolio</a> //
          📜  <a href="https://about.edwardshturman.com/resume">CV</a> //
          🔗  <a href="https://linkedin.com/in/edward-shturman">LinkedIn</a> //
          🐙  <a href="https://github.com/edwardshturman">GitHub</a> //
          ✉️  <a href="mailto:hello@edwardshturman.com">Email</a>
        </p>
      </section>

      <blockquote>
        <p>
          "No one ever changed the world by doing what it told them to do."<br><br>
          - Eddy Zhong
        </p>
      </blockquote>

      <section class="center">
        <h4>Made with 💙 in San Francisco, CA 🌉</h4>
      </section>

    </main>

    <script type="module" src="../assets/js/main.js"></script>
  </body>
</html>
